<!-- home.html -->
{% extends 'timeapp/base_home.html' %}

<!-- {% block title %}Home - Time Budget{% endblock %} -->

{% block content %}
{% load static %}
<!-- First content section -->
<section class="flex justify-center items-center my-8">
    <div class="w-05 px-6">
        <h2 class="text-4xl font-bold text-gray-800">Empower Your Goals with AI</h2>
        <p class="mt-4 text-gray-600">
            Shape Your Success: Set and Plan Your Goals, Embrace AI Accountability, and Achieve Together with Friends
        </p>
        <a href="{% url 'account_signup' %}"
            class="mt-6 inline-block px-6 py-2 text-white font-bold bg-orange-500 rounded hover:bg-orange-700 transition duration-300">
            Join for Free
        </a>
    </div>
    <div class="w-05 px-6 overflow-hidden">
        <img src="{% static 'timeapp/images/side_app_art.png' %}" alt="App Preview" class="transform -translate-x-25">
    </div>

</section>
<!-- Second content section -->
<section class="features-section">
    <div class="feature-item">
        <img src="{% static 'timeapp/images/target.png' %}" alt="Set SMART goals" class="icon-image icon-image-large">
        <p class="text-gray-800">Set SMART goals</p>
    </div>
    <div class="feature-item">
        <img src="{% static 'timeapp/images/notepad.png' %}" alt="Be kept accountable" class="icon-image">
        <p class="text-gray-800">Be kept accountable</p>
    </div>
    <div class="feature-item">
        <img src="{% static 'timeapp/images/collaboration.png' %}" alt="Do it with others"
            class="icon-image icon-image-collaboration">
        <p class="text-gray-800">Do it with others</p>
    </div>
</section>






<!-- <div class="flex justify-center items-center">
    <div class="w-05 px-6">
        <img src="{% static 'timeapp/images/ai_graph.png' %}" alt="Feature Image" class="w-full">
    </div>
    <div class="w-05 px-6">
        <ul class="list-disc list-inside text-gray-600">
            <li>Feature One - Detailing the uniqueness of your app.</li>
            <li>Feature Two - How your app stands out in the market.</li>
            <li>Feature Three - User benefits and problem-solving.</li>
        </ul>
    </div>
</div>
</section> -->

<!-- Third content section -->
{% endblock %}